@import "tailwindcss";

.xterm-viewport::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}
.xterm-viewport {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}